doctype html
- var user = usuario
- var mensaje = msg

html
  include ../layouts/headParams2.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="s12", id="space")
          p(align="center")
            i(class="fas fa-exclamation-triangle erroricons")
          p(align="center", class="errortxt") Error: #{mensaje}

    include ../layouts/footerParams2.pug
    
