doctype html
- var user = usuario
- var mensaje = msg

html
  include ../layouts/headParams2.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="s12", id="space")
          p(align="center", class="ftxt") Error: #{mensaje}
    include ../layouts/footerParams2.pug
    
