doctype html
- var user = usuario

html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    
    if user
      p Hola #{user.username} Consulta tu perfil  
        a(href='/profile') Perfil
    
    include ../layouts/footer.pug
    
