doctype html
- var user = usuario

html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s4")
          p(align="center") hola
        div(class="col s4")
          p(align="center") hola
        div(class="col s4")
          p(align="center") hola
    
    include ../layouts/footer.pug
    
