doctype html
- var user = { id: usuario.id, username: usuario.username, displayName: usuario.displayName }
- var url = foto
- var perfil = perfilUrl
- var email= mail

html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    
    div(class="container")
      div(class="row")
        
        div(class="s12", id="space")
          
        div(class="col s2")          
        div(class="col s8" id="profile")
          div(class="col s12")
            div(class="card horizontal")
              div(class="card-image")
                img(class="responsive-img" src='' + foto)
              div(class="card-stacked")
                div(class="card-content" id="pspace")
                  p Usuario: #{user.username}
                  p Nombre: #{user.displayName}
                  p Email: #{email}                
                div(class="card-action")
                  a(class="cenlace" href='' + perfil) Perfil de github
        div(class="col s2") 
          
  

    include ../layouts/footer.pug
