- var tarea = assign
- var aula = classroom
doctype html

html
  include ../layouts/headParams2.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space") 
          p(align="center" class="ftxt") Haga click en el siguiente botón para copiar el enlace de invitación a #{tarea}
        div(class="col s12", id="ispace")         
          p(align="center" class="ftxt") 
            span(class="iispace") http://localhost:8081/assigninvitation/#{aula}/#{tarea}
            button(id="btn" class="button button-circle white-text light-blue darken-4", data-clipboard-text="http://localhost:8081/assigninvitation/" + aula + "/" + tarea): i(class="octicon octicon-clippy iicons")

    include ../layouts/footerParams2.pug
    script(type="text/javascript", src="../../js/copy.js")
