- var aula = classroom
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")
          div(class="tabs is-centered")
            ul
              li(id="buttarea"): a(href="/classroom/" + aula) Tareas
              li(class="is-active" id="butpindiv" class=""): a(href="/new/"+ aula) Nueva Asignación
              li(id="butoptions" class=""): a(href="/options/"+ aula) Opciones
              li(id="butalum" class=""): a(href="/alumnos/"+ aula) Alumnos
              li(id="butfile" class=""): a(href="/upload/"+ aula) Subir fichero de alumnos
          form(class="col s12" method="post" action="/new/" + aula)
            div(class="col s12" )
              div(class="input-field col s12" )
                input(id="titulo" type="text" class="validate" name="titulo" required)
                label(for="titulo") Titulo 
              div(class="input-field col s12")
                select(name="repo")
                  option(value="false") Publico
                  option(value="true") Privado
                label Repositorio
              div(class="input-field col s12")
                select(name="type")
                  option(value="individual") Individual
                  option(value="grupal") Grupal
                label Tipo de asignación
              div(class="col s12")
                input(type="checkbox" id="travis" name="travis")
                label(for="travis") La tarea incluirá Travis.
              div(class="col s12" id="fspace")
                div(align="center" class="col s3")
                  button(class="btn-large waves-effect waves-light white-text light-blue darken-4" type="submit") Enviar
                    i(class="material-icons right") send
                div(align="center" class="col s4")
                  a(href="/classroom/" + aula class="btn-large waves-effect waves-light white-text red") Cancelar
                    i(class="material-icons right") cancel
                div(align="center" class="col s5")

    include ../layouts/footerParams.pug
