- var aula = classroom
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")
          form(class="col s12" method="post" action="/new/" + aula)
            div(class="col s12" )
              div(class="input-field col s12" )
                input(id="titulo" type="text" class="validate" name="titulo" required)
                label(for="titulo") Titulo 
              div(class="input-field col s12")
                input(id="code" type="text" class="validate" name="code")
                label(for="code") Añadir starter code (Opcional) 
              div(class="input-field col s12")
                select(name="repo")
                  option(value="false") Publico
                  option(value="true") Privado
                label Repositorio
              div(class="input-field col s12")
                select(name="type")
                  option(value="individual") Individual
                  option(value="grupal") Grupal
                label Tipo de asignación
              div(class="col s12")
                input(type="checkbox" id="admin" name="admin")
                label(for="admin") Permisos de administrador en el repo para los alumnos.
              div(class="col s12" id="fspace")
                div(align="center" class="col s3")
                  button(class="btn-large waves-effect waves-light white-text light-blue darken-4" type="submit") Enviar
                    i(class="material-icons right") send
                div(align="center" class="col s4")
                  a(href="/classroom/" + aula class="btn-large waves-effect waves-light white-text red") Cancelar
                    i(class="material-icons right") cancel
                div(align="center" class="col s5")

    include ../layouts/footerParams.pug
