#logo {
  margin-left: 5%;
  font-family: 'Berkshire Swash', cursive;
}

.m5pc {
  margin-right: 5%;
}

.licons {
  font-size: 60px;
  margin-right: 3%;
}

#space {
  padding-top: 10%;
}

#lspace {
  padding-top: 5%;
}

#pspace {
  padding-top: 25%;

}

#aspace {
  padding-top: 5%;
}

#ispace {
  padding-top: 2%;
}

#fspace {
  padding-top: 5%;
}

a:link {
  text-decoration: none;
}

.lcolor {
  color: black;
}

.ltext {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.lttext {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
}

.micons {
  font-size: 15px;
  margin-left: 3px;
}

.ficons {
  font-size: 30px;
  margin-left: 5%;
}

.seleccion {
  font-size: 10px;
}

.fclass {
  font-family: 'Dosis', sans-serif;
}

.ftxt {
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}
.aicons {
  font-size: 18px;
  margin-left: 5%;
}

.iicons {
  font-size: 15px;
}

.iispace {
  margin-right: 2%;
}

.iconsclass {
  margin-left: 1%;
}

.erroricons {
  color: red;
  font-size: 50px;
}

.errortxt {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
}

#pindiv {
  padding-top: 2%;
}

#pgroup {
  padding-top: 2%;
}

.esconder {
  display: none;
}

#profile {
  padding-top: 5%;
}

#iinvi {
  padding-top: 2%;
}

#eval {
  padding-top: 2%;
}

#ainvi {
  padding-top: 2%;
}

#repos {
  padding-top: 2%;
}

#aspace {
  padding-top: 0.1%;
}

.lisep{
  margin-top: 2%;
}

.helph2 {
  text-align: center;
}

/* label focus color */
.input-field input:focus + label {
  color: #01579b !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important
}

/* label focus color */
.input-field input:checked + label {
  color: #01579b !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #000 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #01579b !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #01579b !important;
}

.titulo-aula-tarea{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  padding: 2%;
  margin-bottom: -8%;
}
nav ul li:hover {
  background-color: white;
}