#logo {
  margin-left: 5%;
  font-family: 'Berkshire Swash', cursive;
}

.m5pc {
  margin-right: 5%;
}

.licons{
  font-size: 60px;
  margin-right: 3%;
}

#space {
  padding-top: 10%;
}

#lspace {
  padding-top: 5%;
}

#pspace {
  padding-top: 25%;

}

a:link {
  text-decoration: none;
}

.lcolor {
  color: black;
}

.ltext {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.lttext {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
}

.micons{
  font-size: 15px;
  margin-left: 3px;
}

.ficons {
  font-size: 30px;
  margin-left: 5%;
}
