doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug       
      div(class="container")
        div(class="row")
          div(class="col s12", id="space")  
                   
    include ../layouts/footerParams.pug
