- var classrooms = aulas
doctype html

html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")
          div(class="col s12")
            h1(align="center" class="fclass") Aulas 
              a(href="/orgs" id="test" class="btn-floating btn-large waves-effect waves-light light-blue darken-4"): i(class="material-icons") add
          if classrooms
            each i in classrooms
              div(class="col s6 offset-s3")
                div(class="card horizontal")
                  div(class="card-image")
                    img(class="responsive-img", src="" + i.avatarUrl)
                  div(class="card-stacked")
                    div(class="card-content ftxt")
                      p #{i.login}
                      p 0
                        i(class="octicon octicon-person aicons")
                      p(id="aspace")
                      p 0
                        i(class="octicon octicon-repo aicons")
                    div(class="card-action")
                      a(href="/classroom/" + i.id class="blue-text text-darken-4") Asginaciones
            else
              div(align="center" class="col s12")
                p(class="noclass") No tiene aulas activas.      
          else   
            div(align="center" class="col s12")
              p(class="noclass") No tiene aulas activas.  
                  
    include ../layouts/footer.pug
