- var aula = classroom
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug       
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")  
        div(align="center" class="col s12")  
          p(class="ftxt") Haga click en el siguiente botón para unirse a la organización 
        div(class="col s12", id="ispace")  
        div(align="center" class="col s12")  
          a(class="waves-effect waves-light btn-large light-blue darken-4") Aceptar invitación
                   
    include ../layouts/footerParams.pug
