- var org = orgs
doctype html

html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")
          div(class="tabs is-centered")
            ul
              li(id="butpindiv" class=""): a(href="/classrooms") Aula
              li(class="is-active" id="butoptions" class=""): a(href="/orgs") Nueva aula
          div(class="col s12")

          if org
            each i in org
              div(class="col s6 offset-s3")
                div(class="card horizontal")
                  div(class="card-image")
                    img(class="responsive-img", src="" + i.avatar_url)
                  div(class="card-stacked")
                    div(class="card-content")
                      p #{i.login}
                      if i.description
                        p #{i.description}
                      a(href="https://github.com/" + i.login) Enlace a Github
                    div(class="card-action")
                      a(href="" id=""+ i.id + "@" + i.login + "@" + i.avatar_url class="blue-text text-darken-4 seleccion") Establecer como aula
            else
              div(align="center" class="col s12")
                p(class="noclass") No tiene organizaciones   
          else   
            div(align="center" class="col s12")
              p(class="noclass") No tiene aulas activas.  
          
          div(align="center" class="col s12", id="ispace") Si no encuentra la organización que busca, pruebe a activar el acceso de 
              a(href="https://help.github.com/articles/approving-oauth-apps-for-your-organization/") Third-party access
              span  en Github.
          div(class="col s12" id="ispace")
    include ../layouts/footer.pug
    script(type="text/javascript", src="./js/getId.js")
