- var aula = classroom
- var alumnos = students
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="ispace")
          div(class="tabs is-centered")
            ul
              li(id="buttarea"): a(href="/classroom/" + aula) Tareas
              li(id="butpindiv" class=""): a(href="/new/"+ aula) Nueva Asignación
              li(id="butoptions" class=""): a(href="/options/"+ aula) Opciones
              li(class="is-active" id="butalum" class=""): a(href="/alumnos/"+ aula) Alumnos
              li(id="butfile" class=""): a(href="/upload/"+ aula) Subir fichero de alumnos
        div(class="col s12" id="ispace")
          div(class="col s4 ftxt" align="center") 
            b Github ID
          div(class="col s4 ftxt" align="center") 
            b Nombre
          div(class="col s4 ftxt" align="center") 
           b Email
        div(class="col s12" id="ispace")
          each i in alumnos
            div(class="col s4 ftxt" align="center" id="aspace") #{i.idGithub}
            div(class="col s4 ftxt" align="center" id="aspace") #{i.name} #{i.surname}
            div(class="col s4 ftxt" align="center" id="aspace") #{i.email}
          else
            div(class="col s12 ftxt" align="center") No ha exportado un fichero CSV, vaya al siguiente enlace para exportarlo:
              a(href="/upload/"+ aula) Subir fichero de alumnos


    include ../layouts/footerParams.pug
