- var aula = classroom
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
      div(class="col s12", id="ispace")
        div(class="tabs is-centered")
          ul
            li(id="buttarea"): a(href="/classroom/" + aula) Tareas
            li(id="butpindiv" class=""): a(href="/new/"+ aula) Nueva Asignación
            li(id="butoptions" class=""): a(href="/options/"+ aula) Opciones
            li(id="butalum" class=""): a(href="/alumnos/"+ aula) Alumnos
            li(class="is-active" id="butfile" class=""): a(href="/upload/"+ aula) Subir fichero de alumnos
        p(align="center" class="ftxt") Haga click para activar y desactivar las invitaciones
          form(class="col s6" method="post" action="/file" enctype="multipart/form-data")
            div(class="col s6 file-field input-field")
                div(class="btn-large waves-effect waves-light white-text light-blue darken-4")
                    span File
                    input(type="file" name='csv' id="csv")
                div(class="file-path-wrapper")
                    input(class="file-path validate" type="text" placeholder="Suba el fichero .csv")
            div(align="center" class="col s12", id="ispace")
              button(class="btn-large waves-effect waves-light white-text light-blue darken-4" type="submit") Enviar
                i(class="material-icons right") send

    include ../layouts/footerParams.pug
