script(type="text/javascript", src="./jquery/dist/jquery.min.js")
script(type="text/javascript", src="./materialize/dist/js/materialize.min.js")
script(type="text/javascript", src="./node_modules/octicons/index")
script(type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
