script(type="text/javascript", src="../../jquery/dist/jquery.min.js")
script(type="text/javascript", src="../../materialize/dist/js/materialize.min.js")
script(type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
script(type="text/javascript", src="../../js/client.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js")
