title=titulo
link(href="https://fonts.googleapis.com/css?family=Berkshire+Swash", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Dosis", rel="stylesheet")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css")
link(rel='stylesheet', href='../materialize/dist/css/materialize.min.css', media='screen,projection')
link(type='text/css', rel='stylesheet', href='../css/custom.css')
link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.css')
link(rel="shortcut icon", href="../images/favicon.ico")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
